@import '../styles/breakpoints.scss';
@import '../styles/variables.scss';

.post {
  $self: &;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--placeholder span {
    display: block;
    margin-bottom: 8px;
    height: 16px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__header {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;

    @include respond-below(sm) {
      padding: 0 8px;
    }

    #{$self}__time {
      cursor: help;
      margin-bottom: 4px;
      color: #4a5568;

      #{$self}--placeholder & {
        width: 90px;
      }
    }

    #{$self}__title {
      font-weight: 700;
      color: #2d3748;
      margin: 8px 0;
      font-size: 1.5rem;
      display: block;

      #{$self}--placeholder & {
        max-width: 325px;
      }

      @include respond-below(sm) {
        font-size: 1rem;
      }
    }

    #{$self}__details {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 4px 8px;

      #{$self}--placeholder & {
        width: 250px;
        padding: 3px;
      }

      #{$self}__item {
        padding: 4px 8px 4px 0;
        font-size: 0.7rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.236);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include respond-below(sm) {
          max-width: 300px;
        }

        &::before {
          font-weight: 700;
          text-transform: uppercase;
          padding: 4.5px;
          margin-right: 8px;
          background-color: rgba(255, 249, 249, 0.204);
        }

        &--category::before {
          content: 'Categoria';
        }

        &--author::before {
          content: 'Publicado por';
        }
      }
    }
  }

  &__content {
    background-color: white;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
    display: block;
    font-size: 14px;
    padding: 8px 32px;
    border-radius: 5px;

    #{$self}--placeholder & {
      box-sizing: content-box;
      padding: 32px;
      display: flex;
      flex-direction: column;
    }

    @include respond-below(sm) {
      padding: 8px;
    }
  }
}
